<div class="details-dialog">
    <!-- Иконка закрытия -->
    <i class="fas fa-times close-icon" (click)="onClose()"></i>
  
    <!-- Иконка "Добавить в избранное" -->
    <i class="fas fa-heart favorite-icon" *ngIf="auth.isAuthenticated$ | async" (click)="onAddToFavorites()"></i>
  
    <!-- Информация о продукте -->
    <div class="details-content">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Stock: {{ product.stock }}</p>
    </div>
  
    <!-- Кнопки внизу -->
    <div class="details-actions">
      <button class="main-page-button" *ngIf="auth.isAuthenticated$ | async" (click)="addToCart()">
        ADD TO CART
      </button>
    </div>
  </div>
  