<div class="navbar">
  <div class="navbar-left">
      <app-main-page-icon [iconClass]="'fas fa-paw'" [routerLink]="'/'"></app-main-page-icon>
      <h1 class="navigation-bar__title">
          <a [routerLink]="'/'" class="navbar-title-link">FluffyShop</a>
      </h1>
  </div>

  <div class="navbar-right">
        <app-main-page-button>BASKET</app-main-page-button>
        <app-main-page-icon [iconClass]="'fas fa-heart'"></app-main-page-icon>
        <app-auth-button 
            [iconClass]="(auth.isAuthenticated$ | async) ? 'fas fa-sign-out-alt' : 'fas fa-user'" 
            class="authbutton">
        </app-auth-button>
  </div>
</div>
<hr class="navbar-line">
