<!-- Навигационная панель -->
<div class="navbar">
  <div class="navbar-left">
      <!-- Иконка лапки с routerLink -->
      <app-main-page-icon [iconClass]="'fas fa-paw'" [routerLink]="'/'"></app-main-page-icon>
      <!-- Заголовок с routerLink -->
      <h1 class="navigation-bar__title">
          <a [routerLink]="'/'" class="navbar-title-link">FluffyShop</a>
      </h1>
  </div>

  <div class="navbar-right">
      <!-- Условное отображение кнопок и иконок, если пользователь авторизован -->
      <app-main-page-button *ngIf="isAuthenticated">BASKET</app-main-page-button>
      <app-main-page-icon *ngIf="isAuthenticated" [iconClass]="'fas fa-heart'"></app-main-page-icon>
      <!-- Иконка пользователя с событием click -->
      <app-main-page-icon [iconClass]="'fas fa-user'" (click)="toggleAuthentication()"></app-main-page-icon>
  </div>
</div>
<hr class="navbar-line">
