<div class="product-grid" *ngIf="!isLoading && products.length > 0; else noProducts">
    <div class="product-info-card" *ngFor="let product of products">
      <button class="delete-icon" (click)="removeFromFavorites(product.id)">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <h2>{{ product.name }}</h2>
      <p>Price: ${{ product.price }}</p>
    </div>
  </div>
  
  <ng-template #noProducts>
    <div class="no-products-container" *ngIf="!isLoading && products.length === 0">
      <p>No favorite products found.</p>
    </div>
  </ng-template>
  
  <ng-template #loading>
    <div class="loading-container" *ngIf="isLoading">
      <mat-progress-spinner
        color="black"
        mode="indeterminate"
        diameter="50">
      </mat-progress-spinner>
      <p>Loading...</p>
    </div>
  </ng-template>
  