<div class="main-page-center">
    <div class="buttons-container">
        <app-main-page-button>CATALOG</app-main-page-button>
        <app-main-page-button>DISCOUNTS</app-main-page-button>
        <app-main-page-button>ABOUT US</app-main-page-button>
        <app-main-page-button>CONTACTS</app-main-page-button>
    </div>
    
    <div class="main-page-content">
      <div class="main-page-text">
        <h1>Fluffy Shop - 
            Technology with a 
            Purr-fect Quality!</h1>
      </div>
      <div class="main-page-image"></div>
    </div>
  </div>
