.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-info-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  transition: transform 0.2s ease;
}

.product-info-card:hover {
  transform: scale(1.05);
}

.loading-spinner {
  text-align: center;
  font-size: 18px;
  margin: 50px 0;
  color: #555;
}

.mat-progress-spinner circle {
  stroke: #000; /* Задай свой цвет */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Центрирование по всей высоте экрана */
  text-align: center;
}

mat-progress-spinner {
  margin-bottom: 16px;
}
